////
/// Contains all login-specific styles.
/// @group elementor
/// @author Ben Marshall
////

// Import sass variables, functions, mixins, etc.
@import '../../global/global';

// Import css variables
@import '../../base/root';

/* stylelint-disable selector-no-qualifying-type, selector-max-id, max-nesting-depth */
* {
  box-sizing: border-box;
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  font-size: var(--global-font-size);
  line-height: var(--global-lineheight);
}

input[type='text'],
input[type='password'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);
  color: var(--input-color);

  &:focus {
    border: var(--input-border-focus);
    box-shadow: var(--input-shadow-focus);
    outline: none;
  }
}

.login {
  form .input,
  input[type='text'],
  input[type='password'] {
    border: var(--input-border);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    min-height: unset;
    padding: var(--input-padding);
  }

  form .input,
  form input[type='checkbox'],
  input[type='text'] {
    background: var(--input-background);
  }

  label {
    font-size: var(--form-label-font-size);
    line-height: var(--form-label-line-height);
  }

  #nav,
  #backtoblog,
  h1 {
    a {
      &:focus,
      &:hover {
        color: var(--anchor-color-hover);
      }
    }
  }

  #nav,
  #backtoblog {
    font-size: var(--global-font-size);

    a {
      color: var(--anchor-color);
      text-decoration: var(--anchor-text-decoration);
    }
  }
}

.wp-core-ui {
  .button-primary {
    &.hover,
    &:hover,
    &.focus,
    &:focus {
      background: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}
/* stylelint-enable selector-no-qualifying-type, selector-max-id, max-nesting-depth */
