@import '../core';

.cell {
  width: 100%;
}

@for $i from 1 through 12 {
  .small-#{$i} {
    width: calc((100% / 12) * $i);
  }
}

@for $i from 1 through 12 {
  .medium-#{$i} {
    @include breakpoint(medium) {
      width: calc((100% / 12) * $i);
    }
  }
}

@for $i from 1 through 12 {
  .large-#{$i} {
    @include breakpoint(large) {
      width: calc((100% / 12) * $i);
    }
  }
}

@for $i from 1 through 12 {
  .grid-margin-x .medium-#{$i} {
    @include breakpoint(medium) {
      width: calc(((100% / 12) * $i) - var(--global-gutter));
    }
  }
}

@for $i from 1 through 12 {
  .grid-margin-x .large-#{$i} {
    @include breakpoint(large) {
      width: calc(((100% / 12) * $i) - var(--global-gutter));
    }
  }
}

.grid-margin-x {
  margin-left: calc((var(--global-gutter) / 2) * -1);
  margin-right: calc((var(--global-gutter) / 2) * -1);

  .cell {
    margin-left: calc(var(--global-gutter) / 2);
    margin-right: calc(var(--global-gutter) / 2);
  }
}

.grid-margin-y {
  margin-bottom: calc((var(--global-gutter) / 2) * -1);
  margin-top: calc((var(--global-gutter) / 2) * -1);

  .cell {
    margin-bottom: calc(var(--global-gutter) / 2);
    margin-top: calc(var(--global-gutter) / 2);
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
