@import '../core';

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-max-width);
  width: 100%;

  &--xsmall {
    max-width: 60rem;
  }

  &--small {
    max-width: 80rem;
  }
}

.margin-x {
  margin-left: calc(var(--global-gutter) / 2);
  margin-right: calc(var(--global-gutter) / 2);
}

.margin-y {
  margin-bottom: calc(var(--global-gutter) / 2);
  margin-top: calc(var(--global-gutter) / 2);
}

.padding-x {
  padding-left: calc(var(--global-gutter) / 2);
  padding-right: calc(var(--global-gutter) / 2);
}

.padding-y {
  padding-bottom: calc(var(--global-gutter) / 2);
  padding-top: calc(var(--global-gutter) / 2);
}

.align-middle {
  align-items: center;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-right {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-justify {
  justify-content: space-between;
}

.align-spaced {
  justify-content: space-around;
}

.align-center-middle {
  align-content: center;
  align-items: center;
  justify-content: center;
}
