////
/// Core base element styles
/// @group base
////

html {
  box-sizing: border-box;
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Default body styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  height: auto;
  -ms-interpolation-mode: bicubic; /* stylelint-disable-line property-no-vendor-prefix */
  max-width: 100%;
}
