////
/// Contains core CSS variables. This file should not be edited directly,
/// instead add new variables in the _settings.scss file.
/// @group base
/// @author Ben Marshall
////

:root {
  --black: #{$black};
  --white: #{$white};
  --global-font-size: #{$global-font-size};
  --global-weight-normal: #{$global-weight-normal};
  --global-weight-bold: #{$global-weight-bold};
  --global-lineheight: #{$global-lineheight};
  --global-radius: #{$global-radius};
  --global-margin: #{$global-margin};
  --primary-color: #{$primary-color};
  --body-background: #{$body-background};
  --body-font-family: #{$body-font-family};
  --body-font-color: #{$body-font-color};
  --small-font-size: #{$small-font-size};
  --header-font-family: #{$header-font-family};
  --header-font-weight: #{$header-font-weight};
  --header-h1-size: #{$header-h1-size};
  --header-h2-size: #{$header-h2-size};
  --header-h3-size: #{$header-h3-size};
  --header-h4-size: #{$header-h4-size};
  --header-h5-size: #{$header-h5-size};
  --header-h6-size: #{$header-h6-size};
  --font-family-monospace: #{$font-family-monospace};
  --anchor-color: #{$anchor-color};
  --anchor-text-decoration: #{$anchor-text-decoration};
  --anchor-color-hover: #{$anchor-color-hover};
  --anchor-text-decoration-hover: #{$anchor-text-decoration-hover};
  --list-margin-bottom: #{$list-margin-bottom};
  --list-style-position: #{$list-style-position};
  --list-lineheight: #{$list-lineheight};
  --list-side-margin: #{$list-side-margin};
  --list-style-type: #{$list-style-type};
  --list-nested-side-margin: #{$list-nested-side-margin};
}
