////
/// Core typography styles
/// @group base
/// @author Ben Marshall
////

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  margin: var(--global-margin);
}

// Emphasized text
em,
i {
  font-style: italic;
  line-height: inherit;
}

// Strong text
strong,
b {
  font-weight: var(--global-weight-bold);
  line-height: inherit;
}

// Small text
small {
  font-size: var(--small-font-size);
  line-height: inherit;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  margin: var(--global-margin);
}

h1 {
  font-size: var(--header-h1-size);
}

h2 {
  font-size: var(--header-h2-size);
}

h3 {
  font-size: var(--header-h3-size);
}

h4 {
  font-size: var(--header-h4-size);
}

h5 {
  font-size: var(--header-h5-size);
}

h6 {
  font-size: var(--header-h6-size);
}

// Links
a {
  color: var(--anchor-color);
  cursor: pointer;
  line-height: inherit;
  text-decoration: var(--anchor-text-decoration);

  &:hover,
  &:focus {
    color: var(--anchor-color-hover);
    @if $anchor-text-decoration-hover != $anchor-text-decoration { /* stylelint-disable-line max-nesting-depth */
      text-decoration: var(--anchor-text-decoration-hover);
    }
  }

  img {
    border: 0;
  }
}

// Lists
ul,
ol,
dl {
  line-height: var(--list-lineheight);
  list-style-position: var(--list-style-position);
  margin-bottom: var(--list-margin-bottom);
}

// List items
li {
  font-size: inherit;
}

// Unordered lists
ul {
  margin-#{$global-left}: var(--list-side-margin);
  list-style-type: var(--list-style-type);
}

// Ordered lists
ol {
  margin-#{$global-left}: var(--list-side-margin);
}

// Nested unordered/ordered lists
ul,
ol {
  & & {
    margin-#{$global-left}: var(--list-nested-side-margin);
    margin-bottom: 0;
  }
}

// Blockquotes
blockquote {
  margin: var(--global-margin);
}

// Abbreviations
abbr,
abbr[title] { /* stylelint-disable-line selector-no-qualifying-type */
  cursor: help;
}

// Figures
figure {
  margin: 0;
}
