////
/// Contains SCSS variables. All variables are set to !default and should be
/// overwritten in the _variables.scss file.
/// @group config
/// @author Ben Marshall
////

/// Font size attribute applied to html and body. Defaults to 100% so the value
/// is inherited from the user's browser settings.
/// @type string
/// @example scss
///   font-size: $global-font-size;
///   font-size: var(--global-font-size);
$global-font-size: 100% !default;

/// Global font weight used for normal type.
/// @type string
/// @example scss
///   font-weight: $global-weight-normal;
///   font-weight: var(--global-weight-normal);
$global-weight-normal: normal !default;

/// Global font weight used for bold type.
/// @type string
/// @example scss
///   font-weight: $global-weight-bold;
///   font-weight: var(--global-weight-bold);
$global-weight-bold: bold !default;

/// Default line height for all type.
/// @type string
/// @example scss
///   font-weight: $global-lineheight;
///   font-weight: var(--global-lineheight);
$global-lineheight: 1.5 !default;

/// Global value used for all elements that have a border radius.
/// @type string
/// @example scss
///   border-radius: $global-radius;
///   border-radius: var(--global-radius);
$global-radius: 0 !default;

/// Global margin used for paragraphs, headlines, etc.
/// @type string
/// @example scss
///   margin: $global-margin;
///   margin: var(--global-margin);
$global-margin: 1.1rem 0 !default;

/// Sets the text direction of the CSS. Can be either ltr or rtl.
/// @type string
$global-text-direction: ltr !default;

/// Breakpoints
/// @type array
/// @example scss
///   @include breakpoint(medium) {
///   }
///
///  max-width: map-get($breakpoints, medium);
$breakpoints: (
  'small': ( min-width: 0 ),
  'medium': ( min-width: 768px ),
  'large': ( min-width: 1024px ),
  'xlarge': ( min-width: 1200px ),
  'medium-down': ( max-width: 768px ),
  'large-down': ( max-width: 1024px ),
  'xlarge-down': ( max-width: 1200px ),
) !default;

/// Color used for black UI items.
/// @type color
/// @example scss
///   color: $black;
///   color: var(--black);
$black: #000 !default;

/// Color used for white UI items.
/// @type color
/// @example scss
///   color: $white;
///   color: var(--white);
$white: #fff !default;

/// Primary color of the application.
/// @type color
/// @example scss
///   color: $primary-color;
///   color: var(--primary-color);
$primary-color: #1779ba !default;

/// Background color of the body.
/// @type string
/// @example scss
///   background: $body-background;
///   background: var(--body-background);
$body-background: var(--white) !default;

/// Font stack of the body.
/// @type string
/// @example scss
///   font-family: $body-font-family;
///   font-family: var(--body-font-family);
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

/// Text color of the body.
/// @type color
/// @example scss
///   color: $body-font-color;
///   color: var(--body-font-color);
$body-font-color: var(--black) !default;

/// Set to true to enable antialiased type, SCSS-specific variable.
/// @type bool
$body-antialiased: true !default;

/// Font stack used for elements that use monospaced type, such as code samples.
/// @type string
/// @example scss
///   font-family: $font-family-monospace;
///   font-family: var(--font-family-monospace);
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace !default;

/// Font size of small elements.
/// @type string
/// @example scss
///   font-size: $small-font-size;
///   font-size: var(--small-font-size);
$small-font-size: 80% !default;

/// Font family for header elements.
/// @type string
/// @example scss
///   font-family: $body-font-family;
///   font-family: var(--body-font-family);
$header-font-family: var(--body-font-family) !default;

/// Font weight of headers.
/// @type string
/// @example scss
///   font-weight: $header-font-weight;
///   font-weight: var(--header-font-weight);
$header-font-weight: normal !default;

/// Font size for h1.
/// @type string
/// @example scss
///   font-size: $header-h1-size;
///   font-size: var(--header-h1-size);
$header-h1-size: 3rem !default;

/// Font size for h2.
/// @type string
/// @example scss
///   font-size: $header-h2-size;
///   font-size: var(--header-h2-size);
$header-h2-size: 2.5rem !default;

/// Font size for h3.
/// @type string
/// @example scss
///   font-size: $header-h3-size;
///   font-size: var(--header-h3-size);
$header-h3-size: 1.938rem !default;

/// Font size for h4.
/// @type string
/// @example scss
///   font-size: $header-h4-size;
///   font-size: var(--header-h4-size);
$header-h4-size: 1.563rem !default;

/// Font size for h5.
/// @type string
/// @example scss
///   font-size: $header-h5-size;
///   font-size: var(--header-h5-size);
$header-h5-size: 1.25rem !default;

/// Font size for h6.
/// @type string
/// @example scss
///   font-size: $header-h6-size;
///   font-size: var(--header-h6-size);
$header-h6-size: 1rem !default;

/// Default color for links.
/// @type color
/// @example scss
///   color: $anchor-color;
///   color: var(--anchor-color);
$anchor-color: var(--primary-color) !default;

/// Default text decoration for links.
/// @type string
/// @example scss
///   text-decoration: $anchor-text-decoration;
///   text-decoration: var(--anchor-text-decoration);
$anchor-text-decoration: none !default;

/// Default color for links on hover.
/// @type color
/// @example scss
///   color: $anchor-color-hover;
///   color: var(--anchor-color-hover);
$anchor-color-hover: none !default;

/// Default text decoration for links on hover.
/// @type string
/// @example scss
///   text-decoration: $anchor-text-decoration-hover;
///   text-decoration: var(--anchor-text-decoration-hover);
$anchor-text-decoration-hover: none !default;

/// Bottom margin for items in a list.
/// @type string
/// @example scss
///   border-bottom: $list-margin-bottom;
///   border-bottom: var(--list-margin-bottom);
$list-margin-bottom: var(--paragraph-margin-bottom) !default;

/// Positioning for bullets on unordered list items.
/// @type string
/// @example scss
///   list-style-position: $list-style-position;
///   list-style-position: var(--list-style-position);
$list-style-position: var(--paragraph-margin-bottom) !default;

/// Line height for items in a list.
/// @type string
/// @example scss
///   line-height: $list-lineheight;
///   line-height: var(--list-lineheight);
$list-lineheight: var(--paragraph-lineheight) !default;

/// Left (or right) margin for lists.
/// @type string
/// @example scss
///   margin-left: $list-side-margin;
///   margin-left: var(--list-side-margin);
$list-side-margin: 1.25rem !default;

/// Bullet type to use for unordered lists (e.g., square, circle, disc).
/// @type string
/// @example scss
///   list-style-type: $list-style-type;
///   list-style-type: var(--list-style-type);
$list-style-type: 1.25rem !default;

/// Left (or right) margin for a list inside a list.
/// @type string
/// @example scss
///   margin-left: $list-nested-side-margin;
///   margin-left: var(--list-nested-side-margin);
$list-nested-side-margin: 1.25rem !default;

// Internal variables used for text direction
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);
