@import 'core';

@import 'normalize.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: 0;
}

img,
svg {
  display: inline-block;
  height: auto;
  -ms-interpolation-mode: bicubic; /* stylelint-disable-line property-no-vendor-prefix */
  max-width: 100%;
}

// Typography
a {
  color: var(--anchor-font-color);
  text-decoration: var(--anchor-text-decoration);

  &:hover {
    color: var(--anchor-font-color-hover);
    text-decoration: var(--anchor-text-decoration-hover);
  }
}

p {
  margin: var(--paragraph-margin);
}

ul,
ol {
  margin: var(--list-margin);
}

blockquote {
  margin: var(--blockquote-margin);
}

/* stylelint-disable selector-no-qualifying-type */
button,
input[type='submit'],
input[type='button'] {
  @extend %button;
}
/* stylelint-enable selector-no-qualifying-type */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1;
  margin: var(--heading-margin);
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 2.5rem;
  }

  @include breakpoint(large) {
    font-size: 4.8rem;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
select,
textarea {
  border: 1px solid var(--color-nu);
  font-family: var(--font-sans-serif);
  font-size: 1.8rem;
  font-weight: 300;
  outline: none;
  padding: 0.8rem;
  width: 100%;
}

input[type='checkbox'] {
  display: none;

  + label {
    &::before {
      border: 1px solid var(--color-nu);
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 1.8rem;
      margin-right: 1.5rem;
      vertical-align: middle;
      width: 1.8rem;
    }
  }

  &:checked {
    + label {
      &::before {
        background-image: url('../img/icon-check.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

label {
  display: block;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 0.8rem;

  @include breakpoint(medium) {
    font-size: 1.8rem;
  }
}

@import 'helpers/layout.module';
@import 'components/header';
@import 'components/footer';
