/**
 * Member Dashboard Page
 *
 * Prefixing all classes with `ss` to prevent conflicts with core Drupal &
 * module classes.
 */

.ss {
  &-page-dashboard {
    background-color: var(--color-delta);
    padding-bottom: 4rem;
    padding-top: 4rem;

    // Dashboard blocks.
    #block-honoravictim,
    #block-shareyourstory,
    #block-submittohistoricalarchive,
    #block-participateinthecommunityforum {
      background-color: var(--color-xi);
      font-size: 1.8rem;
      padding: 4rem;
    }
  }
}
