@import '../core';

.page-register {
  margin-bottom: 5rem;
  padding-top: 4rem;

  @include breakpoint(medium) {
    padding-top: 5rem;
  }

  @include breakpoint(large) {
    padding-top: 6rem;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: 5rem;
    }

    @include breakpoint(large) {
      margin-bottom: 6rem;
    }
  }
}

.page-register-success {
  font-size: 1.7rem;
  margin-bottom: 7rem;
  margin-top: 4rem;
  min-height: calc(100vh - 10rem);

  @include breakpoint(medium) {
    margin-top: 5rem;
  }
}

.user-register-form {
  label {
    &.form-required {
      &::after {
        content: '*';
      }
    }
  }

  h3 {
    color: var(--color-alpha);
    font-family: var(--font-sans-serif);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
      font-size: 2rem;
    }
  }

  .js-form-type-name,
  .js-form-type-email,
  .js-form-type-password-confirm {
    margin-bottom: var(--global-gutter);
  }

  // First/last name
  .js-form-type-name {
    .form--inline {
      @include breakpoint(medium) {
        display: flex;
        margin-right: calc(var(--global-gutter) / 2 * -1);
        margin-left: calc(var(--global-gutter) / 2 * -1);
      }
    }

    .name-given-wrapper {
      margin-bottom: var(--global-gutter);

      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }

    .name-given-wrapper,
    .name-family-wrapper {
      @include breakpoint(medium) {
        margin-left: calc(var(--global-gutter) / 2);
        margin-right: calc(var(--global-gutter) / 2);
        width: calc(50% - var(--global-gutter));
      }
    }
  }

  // Email
  .js-form-type-email {
  }

  // Password
  .js-form-type-password-confirm {
    .form-item-pass-pass1 {
      margin-bottom: var(--global-gutter);
    }
  }

  .field--name-field-crash-response-group,
  #edit-contributor-relationship-profiles-0-entity-field-victim-relationship-wrapper,
  .field--name-field-support-groups,
  .field--name-field-sites,
  .field--name-field-worked-as-jobs,
  .field--name-field-criminal-justice-processes,
  .field--name-field-government-authorities {
    margin-left: 3.3rem;
  }

  .profile-address-line1 {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;

    @include breakpoint(medium) {
      margin-bottom: 1.2rem;
      margin-top: 1.2rem;
    }
  }

  .address-container-inline {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    > .form-item {
      display: block;
      margin-bottom: 0.8rem;
      margin-right: 0;
      width: 100%;
    }

    .profile-locality {
      @include breakpoint(medium) {
        margin-right: 1.2rem;
        width: calc(75% - 1.2rem);
      }

      @include breakpoint(large) {
        width: calc(50% - 1.2rem);
      }
    }

    .profile-postal-code {
      @include breakpoint(large) {
        width: 25%;
      }
    }

    .profile-administrative-area {
      @include breakpoint(medium) {
        width: 25%;
      }

      @include breakpoint(large) {
        margin-right: 1.2rem;
        width: calc(25% - 1.2rem);
      }
    }
  }

  .headline-profile-photo {
    margin-top: 2rem;

    @include breakpoint(medium) {
      margin-top: 2.5rem;
    }
  }

  .headline-relationship {
    margin-top: 3.4rem;

    @include breakpoint(medium) {
      margin-top: 5rem;
    }

    @include breakpoint(large) {
      margin-top: 6rem;
    }
  }

  .select-text {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .form-submit {
    margin-top: 4rem;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }
  }

  // Photo upload
  #edit-contributor-profiles-0-entity-field-profile-photo-0-upload {
    display: none;
  }

  #edit-contributor-profiles-0-entity-field-profile-photo-0--label {
    background-color: var(--color-beta);
    border-radius: 4.4rem;
    color: var(--color-xi);
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-sans-serif);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0;
    padding: 1rem 5.4rem 1rem calc(5.4rem + 2.4rem);
    position: relative;

    &::before {
      background-color: var(--color-gamma);
      background-image: url('../../img/icon-plus.svg');
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      content: '';
      display: block;
      height: 4.4rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 4.4rem;
      z-index: 1;
    }
  }
}
